<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/_header") %>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="admin">
  <%- include('partials/_navbar') %>

  <div class="admin-pending-div">
    <h1 class="admin-header">Today's Pending Orders:</h1>
    <ul class="admin-ul">
      <% if (JSON.stringify(pendingOrders) === '{}') { %>
        <p class="no-orders">No pending orders at the moment...</p>
      <% } %>
      <% for (const [id,order] of Object.entries(pendingOrders)) { %>
        <li>
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title"> Order #<%=id%> </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%=order.placed_at%></h6>
              <ul>
                <% for (const item of order.menu_items) {%>
                  <li class="card-text"><span><%=item.qty%></span>X <%=item.name%></li>
                <% } %>
              </ul>
              <p class="card-text">Special instructions: <%=order.special_instructions%></p>
              <form action="/admin" method="post">
                <input type="hidden" value="<%=id%>" name="order_id">
                <input type="text" placeholder="estimated wait time" name="wait_time">
                <input type="submit" class="btn btn-dark" value="confirm order">
              </form>
            </div>
          </div>
        </li>
        <%}%>
      </ul>
    </div>

    <div class="admin-pending-div">
      <h1 class="admin-header">Today's Confirmed Orders:</h1>
      <ul class="admin-ul">
        <% if (JSON.stringify(confirmedOrders) === '{}') { %>
          <p class="no-orders">No confirmed orders at the moment...</p>
        <% } %>
        <% for (const [id,order] of Object.entries(confirmedOrders)) { %>
      <li>
        <div class="card admin-card">
          <div class="card-body">
            <h5 class="card-title"> Order #<%=id%> </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=order.placed_at%></h6>
            <ul>
              <% for (const item of order.menu_items) {%>
              <li class="card-text"><span><%=item.qty%></span>X <%=item.name%></li>
              <% } %>
            </ul>
            <p class="card-text">Special instructions: <%=order.special_instructions%></p>
            <form action="/admin" method="post">
              <input type="hidden" value="<%=id%>" name="order_id">
              <input type="hidden" name="wait_time" value="0">
              <input type="submit" class="btn btn-dark" value="Ready!">
            </form>
          </div>
        </div>
      </li>
      <%}%>
          </ul>
      </div>
  </body>
</html>
