<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aa-So-Sa Asian Fusion Menu</title>

  <%- include('partials/_header') %>


  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client-menu.js"></script>


</head>

<body>
  <%- include('partials/_navbar') %>
  <h1>Our Menu</h1>

  <div class="order_status-container">
    <ul style="list-style-type: none">
      <% for (const menuItem of menuItems) { %>
      <li class="bg-light p-2">
        <div class="card" style="width: 18rem;">
          <img src=<%= menuItem.thumbnail_url %> class="card-img-left" alt="...">
          <div class="card-body" data-itemId="<%= menuItem.id %>">
            <h5 class="card-title"> <%= menuItem.name %> </h5>
            <p class="card-text"> <%= menuItem.description %> </p>
            <p> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </p>
            <p class="item-qty">0</p>
            <a class="btn btn-dark add-item">+</a>
            <a class="btn btn-dark remove-item">-</a>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </div>

</body>

</html>
