<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client-menu.js"></script>
</head>

<body>
  <%- include('partials/_navbar') %>
  <div class="menu">
    <div class="menu-item-anchors mb-5 bg-warning w-100">
      <a href="#mains">Mains</a>
      <a href="#sides">Sides</a>
      <a href="#soups">Soups</a>
      <a href="#alcohol">Alcohol</a>
      <a href="#beverages">Beverages</a>
    </div>
    <ul class="menu-list d-flex flex-column align-items-center">
      <div class="bg-warning w-50 p-3" id="mains">
        <h1>Mains</h1>
      </div>
      <% for (const menuItem of mains) { %>
      <li class="menu-item bg-light p-2 mb-5 d-flex flex-row">
        <img src=<%= menuItem.thumbnail_url %> class="card-img-left" alt="...">
        <div class="menu-item-body p-2 d-flex flex-column justify-content-between" data-itemId="<%= menuItem.id %>">
          <h1 class="card-title"> <%= menuItem.name %> </h1>
          <h4 class="card-text"> <%= menuItem.description %> </h4>
          <h5> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </h5>
          <h5 class="item-qty">0</h5>
          <a class="btn btn-warning add-item">+</a>
          <a class="btn btn-warning remove-item">-</a>
        </div>
      </li>
      <% } %>
      <div class="bg-warning w-50 p-3" id="sides">
        <h1>Sides</h1>
      </div>
      <% for (const menuItem of sides) { %>
      <li class="card menu-item bg-light p-2 mb-5 d-flex flex-row">
        <img src=<%= menuItem.thumbnail_url %> class="card-img-left" alt="...">
        <div class="card-body d-flex flex-column justify-content-between" data-itemId="<%= menuItem.id %>">
          <h1 class="card-title"> <%= menuItem.name %> </h1>
          <h4 class="card-text"> <%= menuItem.description %> </h4>
          <h5> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </h5>
          <h5 class="item-qty">0</h5>
          <a class="btn btn-warning add-item">+</a>
          <a class="btn btn-warning remove-item">-</a>
        </div>
      </li>
      <% } %>
      <div class="bg-warning w-50 p-3" id="soups">
        <h1>Soups</h1>
      </div>
      <% for (const menuItem of soups) { %>
      <li class="card menu-item bg-light p-2 mb-5 d-flex flex-row">
        <img src=<%= menuItem.thumbnail_url %> class="card-img-left" alt="...">
        <div class="card-body d-flex flex-column justify-content-between" data-itemId="<%= menuItem.id %>">
          <h1 class="card-title"> <%= menuItem.name %> </h1>
          <h4 class="card-text"> <%= menuItem.description %> </h4>
          <h5> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </h5>
          <h5 class="item-qty">0</h5>
          <a class="btn btn-warning add-item">+</a>
          <a class="btn btn-warning remove-item">-</a>
        </div>
      </li>
      <% } %>
      <div class="bg-warning w-50 p-3" id="alcohol">
        <h1>Alcohol</h1>
      </div>
      <% for (const menuItem of alcohol) { %>
        <li class="card menu-item bg-light p-2 mb-5 d-flex flex-row">
          <div class="card-body d-flex flex-column justify-content-between" data-itemId="<%= menuItem.id %>">
            <h1 class="card-title"> <%= menuItem.name %> </h1>
            <h4 class="card-text"> <%= menuItem.description %> </h4>
            <h5> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </h5>
            <h5 class="item-qty">0</h5>
            <a class="btn btn-warning add-item">+</a>
            <a class="btn btn-warning remove-item">-</a>
          </div>
        </li>
      <% } %>
      <div class="bg-warning w-50 p-3" id="beverages">
        <h1>Beverages</h1>
      </div>
      <% for (const menuItem of beverages) { %>
        <li class="card menu-item bg-light p-2 mb-5 d-flex flex-row">
          <div class="card-body d-flex flex-column justify-content-between" data-itemId="<%= menuItem.id %>">
            <h1 class="card-title"> <%= menuItem.name %> </h1>
            <h4 class="card-text"> <%= menuItem.description %> </h4>
            <h5> <%= `$${(menuItem.price / 100).toFixed(2)}` %> </h5>
            <h5 class="item-qty">0</h5>
            <a class="btn btn-warning add-item">+</a>
            <a class="btn btn-warning remove-item">-</a>
          </div>
        </li>
      <% } %>
    </ul>
</div>


  <%- include('partials/_footer') %>
</body>

</html>
