<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="order_status">
  <%- include('partials/_navbar') %>
  <div class="order_status-container">
    <% if (completedOrder.order_status === 'pending') { %>
      <div class="pending-container">
        <h3>Order # <%= completedOrder.id %></h3>
        <h4>Please wait while we confirm your order with the restaurant</h4>
        <div class="spinner-border spinner-div" role="status">
          <span class="sr-only">Pending...</span>
        </div>
        <p class="mt-4 mb-4"> Order Placed At: <%= completedOrder.placed_at %> </p>
      </div>
    <% } else if (completedOrder.order_status === 'confirmed') { %>
      <div class="confirmed-container">
        <h3>Order # <%= completedOrder.id %></h3>
        <h3>Your order has been confirmed!</h3>
        <h4>Estimated Wait Time: <%= completedOrder.wait_time %> minutes </h4>
        <img src="/images/wok.png" style="width: 8rem; height: auto"  class="animated headShake infinite slow" alt="wok animation">
        <p>Your order is being prepared.</p>
        <p>The estimated pick up time is <%= completedOrder.ready_at %> </p>
        <p> We will notify you via SMS when it is ready!</p>
      </div>
    <% }  else { %>
      <div class="ready-container">
        <h3>Order # <%= completedOrder.id %></h3>
        <h3>Your order is ready for pick up!</h3>
        <img src="/images/chicken.png" style="width: 6rem; height: auto"  class="animated swing infinite slow" alt="wok animation">
        <h5 class="mt-3">Thank you for choosing</h5>
        <p class="order_status-logo">AaSoSa</p>
      </div>
    <% } %>
  </div>

</body>

</html>
